* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    size: 100%;
}

header {
    background: linear-gradient(to bottom, #00aaff, #005577);
    padding: 20px;
    text-align: center;
    align-items: center;
    position: relative; 
    z-index: 1000; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-photo {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #4682B4;
}

#title {
    margin-left: 750px; 
}

.sidebar {
    width: 250px;
    background: #f4f4f4;
    position: fixed; 
    top: 70px; 
    left: 0;
    height: calc(100% - 70px); 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999; 
}

.sidebar ul {
    list-style: none;
    padding: 20px;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.sidebar li.active, /* Estilo para item ativo */
.sidebar li:hover {
    background-color: #555; /* Fundo cinza mais escuro */
    color: white; /* Texto branco */
}


.container {
    margin-left: 270px; /* Ajuste para a largura da sidebar */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contacts-list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.contact-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

.contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #212535;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #5f9db6;
}

.contact-item {
    background: #e7f3fe;
    border: 1px solid #d1e7fd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.contact-item .contact-photo {
    width: 40px;
    height: 40px;
    background-color: #d9edf7;
    border-radius: 50%;
    margin-right: 10px;
}
